@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; /* Ajustement pour le header fixe */
}

.wanted-name {
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.wanted-bounty {
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
  font-style: normal;
}